{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Les Legumes - Contact</title>
<link href="{% static 'css/llr_styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

<style>
.hero_section {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("{% static 'assets/wood.jpg' %}");
    height: auto;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 50% 0%;
    width: 100%;
}
</style>

<header class="main_header"><div class="header_table"><table>
  <tbody>
    <tr>
      <td class="secondary-head-section"><a href="{% url 'menu' %}">Menu</a></td>
      <td class="secondary-head-section"><a href="{% url 'reviews' %}">Reviews</a></td>
      <td class="primary-head-section"><a href="{% url 'index' %}"><img src="{% static 'assets/logo.png' %}" alt="Les Legumes" class="header_logo"/></a></td>
      <td class="secondary-head-section"><a href="{% url 'contact' %}">Contact</a></td>
      <td class="secondary-head-section"><a href="{% url 'reserve' %}">Reserve</a></td>
    </tr>
  </tbody>
</table></div>
</header>
<div class="content">
	<div class="hero_section"><img class="hero_image" src="{% static 'assets/interior1.jpeg' %}" alt="Les Legumes Restaurant"/></div>
  <div class="contact-form"><form method="post">{% csrf_token %}<table align="center">
  <tbody>
    <tr>
      <th colspan="4" scope="col">We would love to hear from you! Provide the following information and we will respond as soon as possible</th>
      </tr>
    <tr>
	  <td class="form_label">Name*</td>
      <td class="name_field">
        {{ form.name }}
	  </td>
	  <td class="form_label">What is your reason for contacting us?</td>
      <td width="50px">
		{{ form.reason }}
	  </td>
    </tr>
    <tr>
	  <td class="form_label">Email</td>
      <td>
        {{ form.email }} 
	  </td>
	  <td rowspan="2" colspan="2">
		<label for="textarea" class="text_area_label">Provide more details on your inquiry:</label>
		{{ form.details }}
    </tr>
    <tr>
	  <td class="form_label">Phone Number</td>
      <td>
        {{ form.phone}}
	  </td>
	</tr>
    <tr>
      <div class="form-actions"><td colspan="4" class="buttons"><input type="submit" name="submit" id="submit" value="Submit">
        <input type="reset" name="reset" id="reset" value="Reset"></td></div>
      </tr>
  </tbody>
</table></form>
</div>
</div>
<footer class="main_footer"><hr>
<table>
  <tbody>
    <tr>
      <td class="logo_section"><a href="{% url 'index' %}"><img src="{% static 'assets/blk_logo.png' %}" alt="Les Legumes" class="footer_logo"/></a></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="email_section"><a href="mailto:info@leslegumesrestaurant.com">EMAIL US</a></td>
      <td class="hours_section">M-Th: 11 a.m. - 10p.m. | F-Sa: 12 p.m. - 12 a.m. | Su: CLOSED</td>
    </tr>
  </tbody>
</table>
</footer>
</body>
</html>
