[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=linsuemey
WorkingDirectory=/home/linsuemey/sites/DOMAIN
EnvironmentFile=/home/linsuemey/sites/DOMAIN/.env

ExecStart=/home/linsuemey/sites/DOMAIN/virtualenv/bin/gunicorn \
	--bind unix:/tmp/DOMAIN.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
